.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sidebar */
.sidebar {
  background: #000;
  max-width: 200px;
  color: white;
  height: 100vh;
  padding: 10px;
}
.top_section {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
}
.logo {
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search input {
  width: 160px;
}
.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
}
